

body > * {
  flex-shrink: 0;
}


html, body, .window {
  display: flex;
  flex-direction: row;
  min-height: 100%;
}

.userinput {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  bottom: 0;
  top: 0;
  max-width: 50vw;
  width: 40vw;
  min-height: 100%;
  resize: none
}

.formattedtext {
  padding: 20px;
  max-width: 50vw;
  min-height: 100%;
}

p code {
  background-color: lightgray
}